.about {
  text-shadow: 2px 2px 2px black;
}

@media screen and (max-width: 420px) {
  .about_box {
    margin-top: 10px !important;
    height: auto !important;
  }
}

@media screen and (max-width: 375px) {
  .icon {
    display: none;
  }
}